html {
	overflow-y:scroll;	
}


header{
    background-color: #FFF;
    height:70px;
}

header h1 {
	position:relative;
	top:10px;
}

a.headerlogin {
	line-height:30px;
	color:#efefef;
	text-align:right;
}
a.headerlogin:hover{
	color:#FFF;	
}

section{
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: #fff;
    color: #333;
    font-family:helvetica, arial, Arimo, sans-serif;
    font-size:0.9em;
}                

article {
    text-align: justify;
}
footer {
color: white;
position: fixed;
width: 100%;
background: black;
bottom: 0;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
font-size: 12px;
padding: 20px 40px;
}

a {
  color: #59BEDD;
  text-decoration:none;
}

.logo a:active,.logo a:hover {
  color: #003647;
}

a.icon{
	text-decoration: none;
	border: 0 none;
	padding:6px;
}

.search-form input[type=text]{
    style:float:left;
    width:159px;
    height:25px;
    margin:0;
}
.search-form input[type=submit]{
    width:55px;
    margin:0;
    height:26px;
}

.logo a img{
	position:relative;
	bottom:-8px;
}

.logo {
letter-spacing: 2px;
text-shadow: 0 0 80px #CCC;
font-size: 70px;
}

.logo a {
-moz-transition-property: color;
-moz-transition-duration: .25s;
-moz-transition-timing-function: ease-out;
-webkit-transition-property: color;
-webkit-transition-duration: .25s;
-o-transition-property: color;
-o-transition-duration: .25s;
}

.sidebar h3,
.sidebar  h2 a {
    text-align:right;	
}

h1 a, h3 a, h2 a {
	border-bottom: none;
	color:#CCC;
}

.sidebar h1 a {
	float:right;	
}	

h1,h2,h3,h4,h5 {
	color:#474747;
	font-weight:normal;	
}

h1{
    font-size: 32px;
    margin-bottom: 10px;
    padding-top:10px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}
h3{
    font-size:21px;
    margin: 10px 0 10px 0;
   
}

h4{
    font-size:18px;
    margin: 10px 0 10px 0;
   
}
ul{
    list-style-position: inside;
}

ol li, ul li {
	font-size:inherit;
    line-height: inherit;
    margin: 0;	
}

.sidebar h2{
    font-size:20px;
    text-align:right;
    margin-bottom:0px;
}
.sidebar ul{
    list-style: none;
    margin-bottom: 15px;
}
.sidebar li {
    text-align:right;
}


p {
	margin:10px 0;	
	line-height:1.3em;
}

footer a{
    font-weight: bold;
    line-height: 1.6em;
    text-transform: lowercase;
    text-decoration: none;
}
time{
    color:#777;
}

.admin{
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #e5e5e5;
    display:block;
}


#wrapper{
    background-color: #FFF;
    padding-top:10px;
    padding-bottom:120px;
}

.form-errors {
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;

    background: yellow;
    color: red;
    font-weight: bold;

    padding: 3px;
}

.form-error {
    margin: 0 !important;
    padding: 0;
}

.dijitInline {
	margin:4px 2px;
}

.tundra .dijitButtonNode {
	background: none transparent;
    border-color:transparent transparent transparent transparent ;
    border-style: solid;
    border-width: 0px;
    /*padding: 0.1em 0.2em 0.2em;	*/	
}

.greyborder {
  padding: 10px;
  border: 1px #E3e3e3 solid;
  background:#FFF;
  -moz-box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);
  -webkit-box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);
  box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
/* /\* For IE 5.5 - 7 *\/ */
/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777 */
}

.small-greybox {
    background: #F0F0F0;
    -moz-box-shadow: 0 0 2px #777;
	-webkit-box-shadow: 0 0 2px #777;
	box-shadow: 0 0 2px #777;
	-o-box-shadow:1px 1px 2px #777;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

.greybox {
    background: #F0F0F0;
    /* 0 1px 80px rgba(1, 1, 1, 0.3); */
   /* -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;*/
    display: block;
    padding: 0px 20px 20px 20px;
    position: relative;
    -moz-box-shadow: 0 0 80px #CCC;;
	-webkit-box-shadow: 0 0 80px #CCC;
	box-shadow: 0 0 80px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

.greybox div {
    margin: 6px 0;
}

.greybox h3 {
	margin:0;
	padding-top:10px;	
}

.greybox input, 
.greybox select {
    border: 1px solid #AAA;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    /* float: right; */
    margin: 0px;
    padding: 6px 0px;
    width: 100%;
}

.greybox input:disabled {
    background: lightGrey;
}

.greybox input.has_errors {
    border-color: red;
}

.greybox input[type=checkbox] {
	width:auto;
	margin:6px;
}

.formfielddesc {
    float: left;
    margin: 0;
    padding: 0;
    CLEAR:BOTH;
}

.formfieldhelp, .formfieldhelpleft {
    color: #AAA;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.formfieldhelp {
    float: right;
}
.formfieldhelpleft a,
.formfieldhelp a {
	text-decoration: underline;
	color:#777;
}

.formfieldhelpleft {
    float: left;
}

input[type=submit] {
    background-color: #39B54A;
    -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -o-border-radius: 6px 6px;
    border-radius: 6px 6px;
    border-color: #84C187;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: 1.8em;
    padding: 0.2em 1em !important;
    margin-top: 6px;
    text-decoration: none;
    float: right;
    width: auto;
    cursor:pointer;
}

.graybutton {	
	background-color: #BBB;
	border-color: #BBB;
	float:left;
}


input.graybutton {
	background-color: #BBB;
	border-color: #BBB;
	float:left;
	 -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -o-border-radius: 6px 6px;
    border-radius: 6px 6px;
    
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: 1.8em;
    padding: 0.2em 1em !important;
    margin-top: 6px;
    text-decoration: none;
    
    width: auto;
    cursor:pointer;
}

.messages {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    margin:0px;
    display:block;
}

.messages li {
    list-style:none;
    vertical-align:middle;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

pre {
	background-color: #FFF;
	font-family: inherit;
		
}


.active, .message{
    background-color: #F0F0F0;
    color: green;
    padding:5px 5px 5px 26px;
    background-color:#F0F0F0;
}

.active::before,
.message::before{
   /* SUCH NICENESS SEEMS UNSUPPORTED BY MOST EVIL EMPIRE BROWSERS
   	content: "✔";
    padding:0 5px 0 5px;*/
}

.warning{
    color: red;
    padding:5px 5px 5px 26px;
    background-color:yellow;

}

.error {
    color: yellow;
    font-weight: bold;
    padding:5px 5px 5px 26px;
    background-color:red;
}

.warning::before, 
.error::before{
	/*content: "⚠";    
    padding:0 25px 0 5px;    */
}

.service-table{
    width: 100%;
}

#jobs {
    width: 100%;
}


#jobs td,
#jobs th{
    padding: 10px 10px 10px 10px;
}

#jobs tr th {
    background-color: #F0F0F0;
    font-weight: bold;
}

#jobs tr th:first-child {
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -o-border-radius: 12px 0 0 12px;
    border-radius: 12px 0 0 12px;
}

#jobs tr th:last-child {
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -o-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
}

#jobs tr td {
	border-bottom:1px dotted #e3e3e3;	
}

.pending {
    background-color: #FDEB02;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
	padding: 5px 20px 5px 10px;
    color:#FA3C44;

}

.pending a {
	color:#FA3C44;
}

.paid {
	padding: 5px 15px 5px 10px;
}


.right {
	float:right;	
}

.left {
	float:left;
}
.text-right{
	text-align:right;	
}


/*SIZING*/
.h220 {
	min-height:220px;	
}




#userFunctionsButton  {
	/*padding:4px 0;*/
	line-height:30px;
}
.tundra .dijitMenuItem td {
	padding:0;
	border-bottom:1px solid #38A7D1;	
}
#userFunctionsButton span.dijitButtonText {
	text-align:left;
}
#userFunctionsButton span.dijitInline{
	margin:0 0 ;
	display:block;
}

#userFunctionsButton span.dijitArrowButtonInner {
	background:url(../img/icons/padlock.png)no-repeat;
	width:16px;
	height:16px;
	position: absolute;
    right: 6px;
    top: 7px;
}
#dijit_Menu_1 {
	width:220px;	
}

