html {
	overflow-y:scroll;	
}


header{
    background-color: #FFF;
    height:70px;
}

header h1 {
	position:relative;
	top:10px;
}

a.headerlogin {
	line-height:30px;
	color:#efefef;
	text-align:right;
}
a.headerlogin:hover{
	color:#FFF;	
}

section{
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: #fff;
    color: #333;
    font-family:helvetica, arial, Arimo, sans-serif;
    font-size:0.9em;
}                

article {
    text-align: justify;
}
footer {
color: white;
position: fixed;
width: 100%;
background: black;
bottom: 0;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
font-size: 12px;
padding: 20px 40px;
}

a {
  color: #59BEDD;
  text-decoration:none;
}

.logo a:active,.logo a:hover {
  color: #003647;
}

a.icon{
	text-decoration: none;
	border: 0 none;
	padding:6px;
}

.next a{
	background: url(../img/icons/next.png) no-repeat right	center;
	padding-right:16px;
}

.previous a {
	background: url(../img/icons/previous.png) no-repeat left	center;
	padding-left:16px;
	padding-right:10px;
}

.search-form input[type=text]{
    style:float:left;
    width:159px;
    height:25px;
    margin:0;
}
.search-form input[type=submit]{
    width:55px;
    margin:0;
    height:26px;
}

.logo a img{
	position:relative;
	bottom:-8px;
}

.logo {
letter-spacing: 2px;
text-shadow: 0 0 80px #CCC;
font-size: 70px;
}

.logo a {
-moz-transition-property: color;
-moz-transition-duration: .25s;
-moz-transition-timing-function: ease-out;
-webkit-transition-property: color;
-webkit-transition-duration: .25s;
-o-transition-property: color;
-o-transition-duration: .25s;
}

.sidebar h3,
.sidebar  h2 a {
    text-align:right;	
}

h1 a, h3 a, h2 a {
	border-bottom: none;
	color:#CCC;
}

.sidebar h1 a {
	float:right;	
}	

h1,h2,h3,h4,h5 {
	color:#474747;
	font-weight:normal;	
}

h1{
    font-size: 32px;
    margin-bottom: 10px;
    padding-top:10px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}
h3{
    font-size:21px;
    margin: 10px 0 10px 0;
   
}

h4{
    font-size:18px;
    margin: 10px 0 10px 0;
   
}
ul{
    list-style-position: inside;
}

ol li, ul li {
	font-size:inherit;
    line-height: inherit;
    margin: 0;	
}

.sidebar h2{
    font-size:20px;
    text-align:right;
    margin-bottom:0px;
}
.sidebar ul{
    list-style: none;
    margin-bottom: 15px;
}
.sidebar li {
    text-align:right;
}


p {
	margin:10px 0;	
	line-height:1.3em;
}

footer a{
    font-weight: bold;
    line-height: 1.6em;
    text-transform: lowercase;
    text-decoration: none;
}
time{
    color:#777;
}

/* nav{ */
/*     background-color: #59BEDD; */
/*     letter-spacing: 1px; */
/* } */
/* nav a{ */
/*     display:block; */
/*     color:white; */
/*     font-weight: bold; */
/*     text-transform: uppercase;  */
/*     text-decoration: none; */
/*     padding: 7px; */
/* } */
/* nav ul{ */
/*     list-style: none; */
/* } */
/* nav li{ */
/*     width: 150px; */
/*     text-align:center; */
/*     float: left; */
/*     background: none; */
/* } */
/* nav a:hover{ */
/*     color: #7F7F7F; */
/* } */

.admin{
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #e5e5e5;
    display:block;
}


#wrapper{
    background-color: #FFF;
    padding-top:10px;
}



.form-errors {
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;

    background: yellow;
    color: red;
    font-weight: bold;

    padding: 3px;
}

.form-error {
    margin: 0 !important;
    padding: 0;
}

/*DOJO - TUNDRA STUFF. FIXING F******G CSS MADE IN HELL */
.tundra *,
.tundra a:focus {
	outline:none;
	outline-style:none!important;
}


/*TOOLTIP*/
.tundra .dijitTooltipContainer {
    font-family:helvetica, arial, sans-serif!important;
}

.irigo-tooltip {
	
}
.dijitInline {
	margin:4px 2px;
}
.tundra .dijitButtonNode {
	background: none transparent;
    border-color:transparent transparent transparent transparent ;
    border-style: solid;
    border-width: 0px;
    /*padding: 0.1em 0.2em 0.2em;	*/	
}

/*STATS*/
.tundra .dojoxGridScrollbox {
	overflow:hidden;	
}

.tundra .dojoxGridHeader {
	background: #f0f0f0;
	color:#474747!important;	
	white-space:nowrap;
}

.tundra .dojoxGridCell {
    border-style: solid;
}

.tundra .dojoxGridCellOver,
.tundra .dojoxGridCellFocus {
    border-style:solid!important;
    border-color:#e3e3e3!important;

}

.tundra .dojoxGridHeader .dojoxGridCell,
.tundra .dojoxGridHeader .dojoxGridCellFocus,
.tundra .dojoxGridHeader .dojoxGridCellOver {
   background: none transparent;
    border-color: transparent #e3e3e3 #e3e3e3 transparent;
    border-width: 0 2px 2px 0!important;
    color: #474747!important;
    padding-bottom: 0;
    padding:6px;
}

.tundra .dojoxGridRowTable .dojoxGridCell{

    background: none repeat scroll 0 0 transparent;
    border-color: transparent #E3E3E3 #E3E3E3 transparent;
    border-width: 0 2px 0px 0 !important;
    color: #474747 !important;
    padding: 6px;
}

.tundra .dojoxGridRowOver,
.tundra .dojoxGridRowOver .dojoxGridCell {
	background-color: transparent;
}


.tundra .dojoxGrid {
    font-size: inherit;
   	font-family: Helvetica,arial,sans-serif;
   	color:#777;
   	border:2px solid #e3e3e3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;   	
}

.dojoxGridRow {
	position: relative;
    width: 460px;
}

.tundra .dojoxGridRowSelected {
   background-color: Transparent !important;
}

.dialogs body{
	background-color:transparent!important;	
}



/*DOJO DIALOGS*/
.dijitDialogUnderlay {
	background:black;
	opacity:0.85;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
}

.tundra .dijitDialog {
	font-family: Helvetica,arial,sans-serif;
   	color:#777;
   	border:2px solid #e3e3e3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; 	
}
.tundra .dijitDialogPaneContent,
.tundra .dijitDialogTitleBar {
	background: none transparent;	
}
/*BUTTONS IN DIALOG*/
.tundra .dijitDialog .dijitButtonNode {
	background: #BBB url(../img/buttonbgdark.png) repeat-x 0px 50%;
	border-color: #e3e3e3;
	float:left;
	 -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -o-border-radius: 6px 6px;
    border-radius: 6px 6px;
    
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    padding: 0.2em 1em !important;
    margin-top: 6px;
    text-decoration: none;
    
    width: auto;
    cursor:pointer;
}

.tundra .dijitButtonHover .dijitButtonNode,
.tundra .dijitButtonNodeHover,
.tundra .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitDropDownButtonHover .dijitButtonNode,
.tundra .dijitComboButton .dijitButtonContentsHover,
 {
	border-color: #E3e3e3;
	border-bottom-color:#e3e3e3;
	color:#FFF;
	background-color: #39B54A;

}




html.dialogs   {
	overflow-y:auto;	
}
#dialog h3,
#dialog h2 a,
.dialogs h3, 
.dialogs h2 a {
    float: none;
    clear:both;
}

/*Search*/
#search_info {
		
}

/* dojo overwrite */
.slideShowImageWrapper{
    margin-top: -20px;
}

.slideShowNav {
    top: 0;
}

.slideShowCtrl {
    top: 10px;
}

.greyborder {
border: 1px #E3e3e3 solid;
background:#FFF;
    -moz-box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);
	-webkit-box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);
	box-shadow: 0 0 80px rgba(1, 1, 1, 0.3);

/* reduce the 10px border from 960 to make space for the border */
/* margin:7px; */
/* rounded corners */
/*-webkit-border-radius: 24px;
-moz-border-radius: 24px;
-o-border-radius: 24px;
border-radius: 24px;*/padding:10px;

/* drop shadow */
    /* -moz-box-shadow: 1px 1px 2px #777; */
	/* -webkit-box-shadow: 1px 1px 2px #777; */
	/* box-shadow: 1px 1px 2px #777; */
	/* -o-box-shadow:1px 1px 2px #777; */
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* /\* For IE 5.5 - 7 *\/ */
	/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#77 */
}

.small-greybox {
    background: #F0F0F0;
   /* -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;*/
    -moz-box-shadow: 0 0 2px #777;
	-webkit-box-shadow: 0 0 2px #777;
	box-shadow: 0 0 2px #777;
	-o-box-shadow:1px 1px 2px #777;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

.greybox {
    background: #F0F0F0;
    /* 0 1px 80px rgba(1, 1, 1, 0.3); */
   /* -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;*/
    display: block;
    padding: 0px 20px 20px 20px;
    position: relative;
    -moz-box-shadow: 0 0 80px #CCC;;
	-webkit-box-shadow: 0 0 80px #CCC;
	box-shadow: 0 0 80px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#777777');
}

.greybox div {
    margin: 6px 0;
}

.greybox h3 {
	margin:0;
	padding-top:10px;	
}

.greybox input, 
.greybox select {
    border: 1px solid #AAA;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    /* float: right; */
    margin: 0px;
    padding: 6px 0px;
    width: 100%;
}

.greybox input:disabled {
    background: lightGrey;
}

.greybox input.has_errors {
    border-color: red;
}

.greybox input[type=checkbox] {
	width:auto;
	margin:6px;
}

.formfielddesc {
    float: left;
    margin: 0;
    padding: 0;
    CLEAR:BOTH;
}

.formfieldhelp, .formfieldhelpleft {
    color: #AAA;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.formfieldhelp {
    float: right;
}
.formfieldhelpleft a,
.formfieldhelp a {
	text-decoration: underline;
	color:#777;
}

.formfieldhelpleft {
    float: left;
}

input[type=submit] {
    background: #39B54A url(../img/buttonbgdark.png) repeat-x 0px 50%;
    -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -o-border-radius: 6px 6px;
    border-radius: 6px 6px;
    border-color: #84C187;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: 1.8em;
    padding: 0.2em 1em !important;
    margin-top: 6px;
    text-decoration: none;
    float: right;
    width: auto;
    cursor:pointer;
}

.graybutton {	
	background: #BBB url(../img/buttonbgdark.png) repeat-x 0px 50%;
	border-color: #BBB;
	float:left;
}


input.graybutton {
	background: #BBB url(../img/buttonbgdark.png) repeat-x 0px 50%;
	border-color: #BBB;
	float:left;
	 -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -o-border-radius: 6px 6px;
    border-radius: 6px 6px;
    
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: inherit;
    font-weight: bold;
    line-height: 1.8em;
    padding: 0.2em 1em !important;
    margin-top: 6px;
    text-decoration: none;
    
    width: auto;
    cursor:pointer;
}

.messages {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    margin:0px;
    display:block;
}

.messages li {
    list-style:none;
    vertical-align:middle;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

pre {
	background-color: #FFF;
	font-family: inherit;
		
}


.active, .message{
    background-color: #F0F0F0;
    color: green;
    padding:5px 5px 5px 26px;
    background:#F0F0F0 url(../img/icons/ticked.png) no-repeat 5px 4px;
}

.active::before,
.message::before{
   /* SUCH NICENESS SEEMS UNSUPPORTED BY MOST EVIL EMPIRE BROWSERS
   	content: "✔";
    padding:0 5px 0 5px;*/
}

.warning{
    color: red;
    padding:5px 5px 5px 26px;
    background:yellow url(../img/icons/attention_red.png) no-repeat 12px center;

}

.error {
    color: yellow;
    font-weight: bold;
    padding:5px 5px 5px 26px;
    background:red url(../img/icons/attention_yellow.png) no-repeat 12px center;
}

.warning::before, 
.error::before{
	/*content: "⚠";    
    padding:0 25px 0 5px;    */
}

.service-table{
    width: 100%;
}

#invoices {
    width: 100%;
}


#invoices td,
#invoices th{
    padding: 10px 10px 10px 10px;
}

#invoices tr th {
    background-color: #F0F0F0;
    font-weight: bold;
}

#invoices tr th:first-child {
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -o-border-radius: 12px 0 0 12px;
    border-radius: 12px 0 0 12px;
}

#invoices tr th:last-child {
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -o-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
}

#invoices tr td {
	border-bottom:1px dotted #e3e3e3;	
}

.pending {
    background: #FDEB02 url(../img/icons/attention_red.png) no-repeat right	center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
	padding: 5px 20px 5px 10px;
    color:#FA3C44;

}

.pending a {
	color:#FA3C44;
}

.paid {
	padding: 5px 15px 5px 10px;
}

.overdue {
	 background: #FA3C44 url(../img/icons/attention_yellow.png) no-repeat right	center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    padding: 5px 20px 5px 10px;
    color:#FDEB02;

}

.overdue a {
    color:#FDEB02;	
}

.inbox{
    margin: 5px;
}

.inbox li{
    list-style:none;
    vertical-align:middle;
    margin: 12px 10px;
    background: url(../img/message.png) no-repeat  0 0px;  
    background-position: right top;
    line-height:14px; 
    border-bottom:1px dotted #e3e3e3;
    padding:2px 0;
 
}

.inbox li.new{
    font-weight: bold;
    /*background: url(../img/message.png) no-repeat  0 -14px;   */
    background-position: right -18px;
   
}


#messages-home .inbox li {
	margin:0 0;
	line-height:1.5em;
	/*font-size: 12px;	*/
	/*width:160px;*/
	background:none;

}
#messages-home .inbox li.new::after {
   /* content: "…";*/
 }


#inbox_nav {
	height:24px;
	padding: 0 10px;	
}

.right {
	float:right;	
}

.left {
	float:left;
}
.text-right{
	text-align:right;	
}


/*SIZING*/
.h220 {
	min-height:220px;	
}

/*PRICES*/
.pricelist h4{
	margin:0;	
}

.pricelist li {
    list-style:none;
    font-size:13px;
    color:#777;	
    line-height:1.8em;	
}
.discreet {
	color:#AAA;
	font-size:10px;
	font-style:italic;	
	margin-top:8px;
}

/*USERFUNCTIONS UND */
/*DROPDOWN SERVICES*/
#dropdownServices {
	width:30px;
	float:right;
	background:#38A7D1;
	margin:0 0 0 0;	
	position:relative;
	top:10px;
	/*height:30px;*/
	height:0;


}

#dropdownServices .dijitStretch {
	display:none;
	visibility:hidden;	
}


#dropdownServices  div.dijitArrowButtonInner {
	background:url(../img/icons/cogwheel.png)no-repeat 6px 7px;
	width:30px;
	padding:0;
	height:30px;
	/*padding-bottom:10px;	*/
	margin:0 0;
}
/*HOVER ON SERVICES ICON*/
.tundra #dropdownServices .dijitComboButton .dijitDownArrowButton,
.tundra #dropdownServices .dijitComboButton .dijitDownArrowButtonHover {
	padding:0px;	
	padding-rigth:0;
}

#dijit_form_ComboButton_0_dropdown #dijit_Menu_0 {
	position:relative;
	left:-190px;
	width:220px!important;	
}

#dijit_Menu_0 td {
	width:0;
}

#dropdownUserFunctions {
	/*width:100%;*/
	width:189px;
	position:relative;
	top:40px;
	border:0px none;
	border-right:1px solid #9FD8EB;
}

#dropdownServices .dijitComboButton, 
#dropdownUserFunctions .dijitDropDownButton  {
	width:100%;
	background:#38A7D1;
	margin:0 0 0 0;
}

#dropdownUserFunctions span.dijitButtonNode {
	color:#efefef;
	padding:0 0 0 0;
	margin:0 0 0 0;
	width:100%;
	text-align:left;
}



.tundra #dropdownServices  .dijitButtonHover .dijitButtonNode,
.tundra #dropdownServices  .dijitButtonNodeHover,
.tundra #dropdownServices .dijitToggleButtonHover .dijitButtonNode,
.tundra #dropdownServices  .dijitDropDownButtonHover .dijitButtonNode,
.tundra #dropdownServices .dijitComboButton .dijitButtonContentsHover,
.tundra #dropdownServices  .dijitComboButton .dijitDownArrowButtonHover {
	border-color: inherit;
	border-bottom-color:inherit;
	color:#FFF;
	background-color: #2794c5;
	background-image:inherit;
	background:none #2794c5;
}

.tundra #dropdownServices  .dijitMenuPassive .dijitMenuItemHover,
.tundra #dropdownServices .dijitMenuItemSelected {

	color:#777;
}

.tundra #dropdownUserFunctions span.dijitButtonNodeHover,
.tundra #dropdownUserFunctions span.dijitToggleButtonHover .dijitButtonNode,
.tundra #dropdownUserFunctions span.dijitDropDownButtonHover .dijitButtonNode,
.tundra #dropdownUserFunctions span.dijitComboButton .dijitButtonContentsHover,
.tundra #dropdownUserFunctions span.dijitComboButton .dijitDownArrowButtonHover {

	color:#FFFFFF;
	background-color:#2794C5;
	background-image:none;
}


#userFunctionsButton  {
	/*padding:4px 0;*/
	line-height:30px;
}
.tundra .dijitMenuItem td {
	padding:0;
	border-bottom:1px solid #38A7D1;	
}
#userFunctionsButton span.dijitButtonText {
	text-align:left;
}
#userFunctionsButton span.dijitInline{
	margin:0 0 ;
	display:block;
}

#userFunctionsButton span.dijitArrowButtonInner {
	background:url(../img/icons/padlock.png)no-repeat;
	width:16px;
	height:16px;
	position: absolute;
    right: 6px;
    top: 7px;
}
#dijit_Menu_1 {
	width:220px;	
}

.tundra .dijitMenu, 
.tundra .dijitMenuBar {
    background-color: #CAEBF5;
    border-width: 0 0 0px 0;
    border-bottom-color:#38A7D1;
    margin: 0;
    padding: 0;
}
.tundra .dijitMenuItem {
	line-height:30px;	
	color:#777;
	font-family:inherit;
}
.tundra .dijitMenuPassive .dijitMenuItemHover,
.tundra .dijitMenuItemSelected {
	background-color:#9FD8EB;	
}

