<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Informationsteknologi</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <meta name="description" content="{% block description %}{% endblock %}" />

    <link href="//static.irigo.com/dojo/1.6.1/dojo/resources/dojo.css" rel="stylesheet" />
    <link href="//static.irigo.com/dojo/1.6.1/dijit/themes/tundra/tundra.css" rel="stylesheet" />
    <link href="{{request.url_root}}static/css/reset.css?v={{version}}"
          rel="stylesheet" />
    <link href="{{request.url_root}}static/css/960.css?v={{version}}"
          rel="stylesheet" />

    <script src="//static.irigo.com/dojo/1.6.1/dojo/dojo.xd.js"></script>
        <script type="text/javascript">
            dojo.require("dijit.form.Button");
            dojo.require("dijit.Menu");
            dojo.require("dijit.Dialog");
            dojo.require("dijit.form.TextBox");
        </script>
    
    {% block head %}{% endblock %}
    <link href="{{request.url_root}}static/css/custom.css?v={{version}}"
          rel="stylesheet" />
  </head>
  <body class="tundra">
    <header>
      <div class="container_12 clearfix" style="padding-top:50px">
        <div class="grid_5">
          <h1 class="logo">
              <a  href="{{request.url_root}}">Iftek-skyen</a>
          </h1>
        </div>
        <div class="grid_3">
            <div style="margin-top:10px">
            {% if user %}
            {% include "_sidebar.html" %}
            {% else %}
            &nbsp;
            {% endif %}
            </div>
        </div>
        <div class="grid_4">
            &nbsp;
        </div>
    </header>

    <div id="wrapper">

      <div class="container_12 clearfix">        

        <div class="grid_9">

          <ul class="messages">
            {%- for category, message in get_flashed_messages(with_categories=true) -%}
            <li class="{{ category }}">{{ message |safe}}</li>
            {%- endfor -%}
          </ul>
          
          <section class="clearfix">
            {% block body %}{% endblock %}
          </section>

        </div>
      </div>
    </div>

    <footer>
      <div class="container_12 clearfix">
        <div class="grid_12">
            <p>
                © 2011 IFTEK. Powered by:
                <a href="http://www.cabo.dk/produkter/irigo-servers">
                    <img style="vertical-align: middle" height="40" src="http://www.cabo.dk/grafik/produkter/irigoservers440px.png" alt="irigo servers" />
                </a>
                Developed by:
                <a href="http://www.jdams.org" >
                    jdams.org
                </a>

            </p>
        </div>
      </div>
    </footer>

    {% block script %}{% endblock %}  
  </body>
</html>
