{% extends 'base.html'%}
{% block title %}Password reset{% endblock %}
{% block description %}Lorem ipsum dolor sit amet{% endblock%}
{% block body %}
{% from "_formhelpers.html" import render_fields %}
<div class="grid_9 alpha">
  <h3>
    Glemt kodeord
  </h3>
</div>
<div class="grid_9 alpha">
  <div class="grid_4 greybox alpha">
    <form name="forgot" method="POST">
      {{ render_fields(form) }}
    </form>
  </div>
</div>

<div class="grid_9 alpha text-right"><a href="javascript:window.history.back()">Tilbage</a></div>

{% endblock %}
{% block script %}
{% endblock %}
